<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966626980654-e3s4944nehg2vnglo3gi83769aeisbug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966626980654-e3s4944nehg2vnglo3gi83769aeisbug</string>
	<key>API_KEY</key>
	<string>AIzaSyAxU_4XeZJQKAgL95okJ6aO2I2WgnlSutE</string>
	<key>GCM_SENDER_ID</key>
	<string>966626980654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lofoApp</string>
	<key>PROJECT_ID</key>
	<string>lost-and-found-sdu</string>
	<key>STORAGE_BUCKET</key>
	<string>lost-and-found-sdu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966626980654:ios:a048af96937590a4eac0bf</string>
</dict>
</plist>